<div class="main-container ">
  <div class="card ">
    <div class="center  mt-4">
      <h2 class="m-auto">{{form.value.id>0?'Edit':'Add New'}} Employee</h2>
      <form class=" form-group m-auto " [formGroup]=" form" (ngSubmit)="save()">
        <div class="m-3">
          <label for="name" class="form-label">user name</label>
          <input type="text" id="name" class="form-control form-control-lg" formControlName="name">
          <span *ngIf="getform('name').errors&&getform('name').touched" class="danger">
            name is required </span>
        </div>
        <div class="m-3">
          <label for="phoneNumber" class="form-label">phone number</label>
          <input type="text" id="phoneNumber" class="form-control form-control-lg" formControlName="phoneNumber">
        </div>
        <div class="m-3">
          <label for="address" class="form-label">address</label>
          <input type="text" id="address" class="form-control form-control-lg" formControlName="address">
        </div>

        <div class="m-3">
          <label for="email" id="email" class="form-label">email</label>
          <input type="email" class="form-control form-control-lg" formControlName="email">
          <span *ngIf="getform('email').errors&&getform('email').touched" class="danger">
            email not valid
          </span>
        </div>

        <div class="m-3">
          <label for="birthDate" class="form-label">birth date</label>
          <input type="date" id="birthDate" class="form-control form-control-lg" formControlName="birthDate">
        </div>
        <div class="m-3">
          <button [disabled]="form.valid==false||loading" type="submit"
            class="btn btn-primary m-2 sp {{loading?'spinner-border':''}}">{{loading?'': 'save'}}</button>
          <button type="button" class="btn btn-secondary m-2" (click)="back()">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>