.danger{
    color: rgba(175, 38, 38, 0.679);
    cursor: pointer;
    font-size: x-large;

}
.primary{
    color: blue;
    font-size: x-large;
    cursor: pointer;

}
.title{
    font-size: large;
}

.header{
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 40px;
}
.page-title{
    margin-left: 50%;
}